
body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    
}

.card {
    border: none;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title i {
    margin-right: 8px;
    color: #007bff;
}
